.prospectform {
  display: flex;
  flex-direction: row;
  position: relative;
  height: 100%;
  background: linear-gradient(180deg, #f8f8f8 0%, #eeeeee 100%);
  font-family: Poppins;
  letter-spacing: 0.01vw;
  width: 100vw;
  z-index: 10;
}

.main-form-side {
  display: flex;
  flex-direction: column;
  margin-left: 18vw;
  width: 100%;
}

.main-form-side h3, .main-form-side h5 {
  margin-top: 1vw;
  margin-bottom: 0;
  font-family: Poppins;
  font-weight: 600;
}

.top-bar {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.top-bar .profile-icon {
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  margin: 10px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(270.52deg, #131742 0.47%, #1d2362 120.33%);
  box-shadow: 0px 8px 32px rgba(19, 23, 66, 0.22);
  color: #ffffff;
  font-size: 15px;
  float: right;
}

.bronze-girl {
  position: fixed;
  bottom: 0;
  right: 0;
  height: 80vh;
}

.cool-boy{
  position: fixed;
  bottom: 0;
  right: -5vw;
  height: 75vh;
}

.main-form {
  display: flex;
  flex-direction: row;
  z-index: 10;
}

/* .bg-ellipse-big {
  position: absolute;
  width: 90vw;
  left: 5vw;
  top: -25vw;
  z-index: 1;
} */
