.home-page {
  position: relative;
}

.landing {
  display: flex;
  flex-direction: row;
}

.landing1 {
  justify-content: space-between;
  padding: 2vw;
}

.landing1-text {
  display: flex;
  flex-direction: column;
  padding: 20px;
  margin-top: 3vw;
  max-width: 40vw;
}

.t1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 300;
  font-size: 5vw;
  color: #e51615;
  margin: 0;
}

.t2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 8vw;
  text-transform: capitalize;
  color: #131742;
  margin: 0;
}

.t3 {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.15vw;
  color: #666666;
  margin: 10px 0 20px 0;
}

.join-us-btn {
  width: 10vw;
  height: 3vw;
  background: linear-gradient(
    270.55deg,
    rgba(13, 17, 60, 0.87) 0.5%,
    rgba(19, 22, 62, 0.88) 99.55%
  );
  box-shadow: 0px 33px 100px rgba(22, 26, 68, 0.13);
  backdrop-filter: blur(20px);
  border-radius: 25px;
  text-align: center;
  margin: 3.5vw 30px;
}

.join-us-btn p {
  color: white;
  font-size: 1.7vw;
  font-family: Bebas Neue;
  margin: 0;
  transform: translateY(20%);
}

.landing1-image {
  position: relative;
}
.landing1-image img {
  width: 45.5vw;
}

.gc-data {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.gc-data .col .element {
  margin: 1vw auto;
}

.gc-data .col .element .data {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.07em;
  text-transform: uppercase;
  color: #131742;
  margin: 1px;
  font-size: 1.5vw;
}

.gc-data .col .element .label {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  display: flex;
  align-items: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  margin: 1px;
  color: #d3d2dd;
  font-size: 0.7vw;
}

.fas,
.far {
  color: red;
  font-size: 1vw;
}

.landing2,
.landing3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 3vw;
}

.landing2-image img {
  width: 40vw;
}

.landing3-image img {
  width: 30vw;
  border-radius: 220px;
}

.landing2-text,
.landing3-text {
  width: 30vw;
  padding: 3vw;
}

.landing6 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 3vw;
  margin-bottom: 2vw;
}

.landing6-image {
  position: relative;
  width: 100%;
  height: 15vw;
}

.landing6-image img {
  width: 25vw;
  padding: 5px;
}

#kids {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 0.8vw;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.14em;
  text-transform: uppercase;
  color: grey;
}

.head1 {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 300;
  font-size: 2vw;
  color: #e51615;
  margin: 0;
}

.head2 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 700;
  font-size: 3vw;
  color: #131742;
  margin: 0;
}

.text {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1.15vw;
  color: #666666;
  margin: 10px 0 20px 0;
}

.landing4 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2vw 20vw;
}

.landing4 .head2 {
  font-size: 3vw;
  font-weight: 600;
  padding: 1vw 5vw;
}

.landing4-cards {
  display: flex;
  flex-direction: column;
  margin: 1vw auto;
}

.l4-card {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: linear-gradient(115.09deg, #fbfbfb 4.35%, #f7f7f7 98.4%);
  border-radius: 1vw;
  padding: 0.3vw;
  text-align: center;
  margin: 0.4vw;
}

.l4-card:hover {
  background: linear-gradient(
    270.55deg,
    rgba(13, 17, 60, 0.87) 0.5%,
    rgba(19, 22, 62, 0.88) 99.55%
  );
  box-shadow: 0px 33px 100px rgba(22, 26, 68, 0.13);
  border-radius: 1.3vw;
  color: #ffffff;
}

.l4-card:hover .l4-card-heading,
.l4-card:hover .l4-card-info {
  color: #ffffff;
}

.l4-card:hover .blue-round-icon {
  color: #ffffff;
  background: linear-gradient(176.12deg, #e51615 -9.13%, #fe425c 122%);
  box-shadow: 0px 0px 124px rgba(229, 22, 21, 0.62);
}

.l4-card-text {
  display: flex;
  flex-direction: row;
  text-align: left;
}

.l4-card-icon {
  background: linear-gradient(176.12deg, #161a44 -9.13%, #252c74 122%);
  margin: 0 1.5vw 0 0;
  color: #cac7c7;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.45vw;
}

.l4-card-heading {
  font-family: Bebas Neue;
  font-style: normal;
  font-weight: 300;
  color: #161a44;
  letter-spacing: 1px;
  font-size: 1.5vw;
}

.l4-card-info {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 1vw;
  color: #666666;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.landing5-image {
  position: relative;
}

.landing5-image .boy-image {
  transform: translateX(65%);
  width: 25vw;
}
.landing5-image .blue-card-image {
  position: absolute;
  width: 35vw;
  left: -8vw;
  z-index: -1;
}

.landing7 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 2vw;
}

.landing8 {
  justify-content: center;
}

.landing8 .landing2-image {
  margin-right: 6vw;
}

.landing9 {
  flex-direction: row-reverse;
}

.landing9 .landing2-image img {
  width: 30vw;
  margin-left: 6vw;
}

.landing11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  text-align: left;
  padding: 2vw 13vw;
}

.landing11 .head-text {
  width: 35vw;
}

.landing11 .head-text .p1 {
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 2.5vw;
  color: #131742;
  margin: 0;
}

.landing11 .head-text .p2 {
  font-family: Poppins;
  font-size: 1vw;
  color: #666666;
}

.landing11 .input-text {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  font-size: 1.5vw;
  color: #131742;
  margin: 0;
  line-height: 4vw;
}

.landing11 .input-text input {
  background-color: transparent;
  border: 0 solid;
  border-bottom: 0.1vw solid #131742;
  color: #e51615;
  padding-left: 0.5vw;
  padding-bottom: 0.3vw;
  font-family: Poppins;
  font-size: 1.5vw;
  width: 11vw;
  text-align: center;
}

.landing11 .input-text input:focus {
  outline: none;
}

.footer {
  display: flex;
  flex-direction: row;
  position: relative;
  overflow: hidden;
  padding: 2vw;
  margin-top: 5vw;
}

.footer .bg-blur {
  position: absolute;
  background: linear-gradient(270.46deg, #e51615 0.42%, #fe425c 151.11%);
  opacity: 0.3;
  box-shadow: 0px 46px 170px rgba(235, 48, 34, 0.37);
  filter: blur(357px);
  border-radius: 3vw;
  height: 50vw;
  width: 90vw;
  top: 11vw;
  left: -60vw;
  z-index: -1;
}

.footer .meta {
  display: flex;
  flex-direction: column;
  max-width: 25vw;
}

.footer .meta .selecter-logo img {
  width: 10vw;
}

.footer .meta .app-d-links {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer .meta .app-d-links .white-btn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid #e9e9e9;
  box-sizing: border-box;
  border-radius: 0.8vw;
  font-size: 0.8vw;
  font-family: Poppins;
  color: #131742;
  font-weight: 700;
  letter-spacing: 0.05vw;
  padding: 0.3vw 0.7vw;
  margin-right: 1vw;
}

.footer .links {
  display: flex;
  flex-direction: row;
  margin: auto 2vw;
}

.footer .links .col {
  display: flex;
  flex-direction: column;
  padding: 0 4vw;
}

.footer .links .col .options p {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.bottom-image {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.bottom-image .glass-card {
  position: absolute;
  width: 10vw;
}

.bottom-image .boy {
  position: absolute;
  width: 28vw;
  bottom: 0;
  right: 0;
}

.bottom-image .graph {
  position: absolute;
  width: 20vw;
  bottom: 16vw;
  right: 15vw;
}
